<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Listing</title>
</head>
<body>
    <h1>Create New Listing.</h1>
    <form action="/listings/new" method="post">
        <input type="text" name="title" placeholder="Enter Title" id="title"><br/>
        <textarea name="description" id="description" placeholder="Enter description here"></textarea><br/>
        <input type="text" name="image" id="image" placeholder="enter image url"><br/>
        <input type="text" name="price" id="price" placeholder="entre price"><br/>
        <textarea name="location" id="location" placeholder="Enter location here"></textarea><br/>
        <input type="text" name="country" id="country" placeholder="Enter Country here"><br/>
        <button>submit</button>
    </form>
</body>
</html>